ar-lib linguist-vendored
compile linguist-vendored
config.guess linguist-vendored
config.rpath linguist-vendored
config.sub linguist-vendored
configure linguist-generated
configure.scan linguist-generated
depcomp linguist-vendored
install-sh linguist-vendored
ltmain.sh linguist-vendored
missing linguist-vendored
aclocal.m4 linguist-generated
m4/ax_*.m4 linguist-vendored
m4/bakefile-dllar.m4 linguist-vendored
m4/gnome-com*.m4 linguist-vendored
m4/gsettings.m4 linguist-vendored
m4/gtk-doc.m4 linguist-vendored
m4/introspection.m4 linguist-vendored
m4/lib*.m4 linguist-vendored
m4/lt*.m4 linguist-vendored
m4/nls.m4 linguist-vendored
m4/pkg.m4 linguist-vendored
m4/threadlib.m4 linguist-vendored
m4/visibility.m4 linguist-vendored
m4/*tool.m4 linguist-vendored
Makefile.in linguist-vendored
applet/Makefile.in linguist-generated
docs/Makefile.in linguist-generated
docs/reference/Makefile.in linguist-generated
docs/reference/libgnome-bluetooth/Makefile.in linguist-generated
help/Makefile.in linguist-generated
lib/Makefile.in linguist-generated
lib/plugins/Makefile.in linguist-generated
sendto/Makefile.in linguist-generated
wizard/Makefile.in linguist-generated
