*~
*.cache
*.lo
*.log
*.o
*.status
*deps/*.*o
*/*deps/*.*o
*/*/*deps/*.*o
*libs/*
*/*libs/*
Makefile
gnome-bluetooth-1.0.pc
icons/Makefile
lib/Makefile
lib/bluetooth-client-glue.h
lib/bluetooth-client-glue.c
lib/bluetooth-fdo-glue.h
lib/bluetooth-fdo-glue.c
lib/gnome-bluetooth-enum-types.h
lib/gnome-bluetooth-enum-types.c
lib/lib*.la
lib/test-client
lib/test-agent
lib/test-deviceselection
lib/test-plugins
lib/test-class
lib/test-killswitch
lib/plugins/Makefile
lib/plugins/so_locations
lib/plugins/libgbt*.la
applet/Makefile
applet/lib*.la
applet/so_locations
wizard/Makefile
wizard/bluetooth-wizard.desktop.in
wizard/bluetooth-wizard.desktop
wizard/bluetooth-wizard
wizard/lib*.la
wizard/so_locations
sendto/Makefile
sendto/bluetooth-sendto.desktop.in
sendto/bluetooth-sendto
docs/Makefile
docs/reference/Makefile
docs/reference/libgnome-bluetooth/Makefile
docs/reference/libgnome-bluetooth/version.xml
docs/reference/libgnome-bluetooth/gnome-bluetooth.args
docs/reference/libgnome-bluetooth/gnome-bluetooth.hierarchy
docs/reference/libgnome-bluetooth/gnome-bluetooth.interfaces
docs/reference/libgnome-bluetooth/gnome-bluetooth.prerequisites
docs/reference/libgnome-bluetooth/gnome-bluetooth.signals
docs/reference/libgnome-bluetooth/gnome-bluetooth-un*.txt
docs/reference/libgnome-bluetooth/*.stamp
po/Makefile.in
po/Makefile
help/Makefile
config.h
depfiles
libtool
po/stamp-*
po/*.gmo
po/*.pox
po/gnome-bluetooth2.pot
po/*.old.po
po/cat-id-tbl.tmp
po/.intltool-merge-cache
stamp-*
